*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    backdrop-filter: blur(8px);

}
.card{
    background-color: white;
    min-width: 25%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;   
    -webkit-box-shadow: 2px -2px 30px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px -2px 30px 6px rgba(0,0,0,0.75);
    box-shadow: 2px -2px 30px 6px rgba(0,0,0,0.75);
    flex-direction: column;

}
.search_group{
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.search_group input{
    padding: 2px;
    width: 100%;
    background-color: lightgray;
    color: black;
}
.search_group button{
    padding: 2px;
    background-color: greenyellow;
    color: black;
}
.result{
    padding: 15px;
}
.result img{
    width: 100px;
    display: flex;
    margin-bottom: 10px;
    
}
.result h2{
    width: 100%;
    text-align: center;
    font-size: 30px;
}
#weather{
    display: none;
}

@media only screen and (max-width: 990px){
    .card {
        min-width: 80%;
    }
    .search_group input{

        width: 80%;
        
    }
}
